.table-icon {
	text-align: center;
}

.table-icon span {
	cursor: pointer;

}

.table-icon span:hover {
	color: blue;
}

.webix_cell {
	text-overflow: ellipsis;
}

.custom-table .webix_cell {
	cursor: pointer;
}